[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencensus-ext-azure = "*"
pyyaml = "*"
typer = "*"

[dev-packages]
orderedset = "*"
mypy = "*"
flake8 = "*"
black = "*"
nuitka = "*"
zstandard = "*"

[requires]
python_version = "3.9"
